{% extends ':Default:layout.html.twig' %}

{% block title %}Создание торгового счета{% endblock title %}

{% block content %}
    {{ form_start(form) }}

    <div id="account">
        <p>Создание торгового счета</p>

        {{ form_row(form.name) }}
        {{ form_row(form.balance) }}
        {{ form_row(form.strategy) }}

        <div class="break-20"></div>

        {{ form_row(form.isPrivate) }}
        {{ form_row(form.save) }}

        {{ form_end(form) }}

        <div class="break-20"></div>
    </div>

{% endblock content %}

{% block submenu %}
    <a href="{{ path('strategy.create') }}">Создать стратегию</a>
{% endblock submenu %}
