{% extends ':Default:layout.html.twig' %}

{% set profit = 0 %}

{% block title %}Торговые счета{% endblock title %}

{% block content %}

    <p>Список Ваших торговых счетов:</p>

    <table id="trades-list">
        <thead>
        <tr>
            <td>#</td>
            <td>Название счета</td>
            <td>Стратегий</td>
            <td>Баланс</td>
            <td>Средства</td>
            <td>Количество сделок</td>
        </tr>
        </thead>

        <tbody>
        {% for account in accounts %}
            <td>{{ account.id }}</td>
            <td>{{ account.name }}</td>
            <td>
                <a href="{{ path('rottenwood_barchart_default_strategyedit', {id: account.strategy.id}) }}">{{ account.strategy.name }}</a>
            </td>
            <td>{{ account.balance }}</td>
            <td>{{ account.equity }}</td>
            <td>{{ account.trades|length }}</td>
            <td></td>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
