{% extends ':Default:layout.html.twig' %}

{% set profit = 0 %}

{% block title %}Торговые счета{% endblock title %}

{% block content %}

    <p>Список ваших торговых счетов:</p>

    <table id="trades-list">
        <thead>
        <tr>
            <td>#</td>
            <td>Название счета</td>
            <td>Стратегия</td>
            <td>Баланс</td>
            <td>Средства</td>
            <td>Количество сделок</td>
            <td></td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>
                    <a href="{{ path('account.info', {id: account.id}) }}">
                        {{ account.name }}<br>
                    </a>

                </td>
                <td>
                    {{ account.strategy.name }}
                </td>
                <td>{{ account.balance }} [прибыль]</td>
                <td>{{ account.equity }} [прибыль]</td>
                <td>{{ account.trades|length }}</td>
                <td>
                    <a href="{{ path('account.edit', {id: account.id}) }}">
                        редактировать
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
