{% extends ':Default:layout.html.twig' %}

{% block title %}Торговый счет #{{ account.id }}{% endblock title %}

{% block content %}

    <p>Торговый счет <strong>#{{ account.id }}</strong></p>

    {{ form_start(form) }}

    <table id="trades-list">
        <thead>
        <tr>
            <td>Название счета</td>
            <td>Стратегия</td>
            <td>Баланс на начало торговли</td>
            <td>Текущий Баланс</td>
            <td>Средства</td>
            <td>Количество сделок</td>
        </tr>
        </thead>
        <tr>
            <td>{{ account.name }}</td>
            {% if form.strategy is defined %}
                <td>{{ form_widget(form.strategy) }}</td>
            {% else %}
                <td>{{ account.strategy.name }}</td>
            {% endif %}
            <td>{{ account.startbalance }}</td>
            <td>{{ account.balance }} [прибыль]</td>
            <td>{{ account.equity }} [прибыль]</td>
            <td>{{ account.trades|length }}</td>
        </tr>
        <tbody>

        </tbody>
    </table>

    {% if form.strategy is defined %}
        {{ form_widget(form.save, {'label':'Сохранить торговый счет'}) }}
    {% endif %}

    {{ form_end(form) }}

    <div class="break-20"></div>

    <a href="{{ path('rottenwood_barchart_account_listaccounts') }}">Список торговых счетов</a>

{% endblock content %}
