{% extends ':Default:layout.html.twig' %}

{% block title %}
    Торговый счет #
    {% if accountIsPrivate is defined %}
        {{ accountIsPrivate }}
    {% else %}
        {{ account.id }}
    {% endif %}
{% endblock title %}

{% block content %}
    {% if accountIsPrivate is defined %}
        <div>
            Доступ к счету <strong>#{{ accountIsPrivate }}</strong> ограниен его владельцем.
        </div>
    {% else %}
        <p>Торговый счет <strong>#{{ account.id }}</strong></p>

        <table class="list">
            <thead>
            <tr>
                <td>Название счета</td>
                <td>Стратегия</td>
                <td>Баланс на начало торговли</td>
                <td>Текущий Баланс</td>
                <td>Средства</td>
                <td>Количество сделок</td>
            </tr>
            </thead>
            <tr>
                <td>
                    {{ account.name }}

                </td>
                <td>
                    {{ account.strategy.name }}
                </td>
                <td>{{ account.startbalance }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.equity }}</td>
                <td>{{ account.trades|length }}</td>
            </tr>
            <tbody>

            </tbody>
        </table>

        <div class="break-20"></div>

        <a href="{{ path('account.list') }}">Список торговых счетов</a>
    {% endif %}
{% endblock content %}
