{% extends ':Default:layout.html.twig' %}

{% set profit = 0 %}
{% set profitLocal = 0 %}

{% block title %}Торговые счета{% endblock title %}

{% block content %}

    <p>Список сделок на Ваших торговых счетах:</p>

    <table id="trades-list">
        <thead>
        <tr>
            <td>#</td>
            <td>Направление</td>
            <td>Время открытия</td>
            <td>Время закрытия</td>
            <td>Цена открытия</td>
            <td>Цена закрытия</td>
            <td>Прибыль</td>
            <td>Общая прибыль</td>
        </tr>
        </thead>

        <tbody>
        {% for trades in allTrades %}
            {% for trade in trades %}
                {% set profit = profit + trade.profit %}
            {% endfor %}
            {% for trade in trades %}
                {% set profitLocal = profitLocal + trade.profit %}
                {% if loop.first %}
                    <tr>
                        <td>Аккаунт:</td>
                        <td><strong>{{ trade.account.name }}</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ profit }}</strong></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ trade.direction > 0 ? 'Покупка' : 'Продажа' }}</td>
                    <td>{{ trade.openDate|date("m-d-Y H-i-s") }}</td>
                    <td>
                        {% if trade.closeDate %}
                            {{ trade.closeDate|date('m-d-Y H-i-s') }}
                        {% endif %}
                    </td>
                    <td>{{ trade.open }}</td>
                    <td>{{ trade.close }}</td>
                    <td>{{ trade.profit }}</td>
                    <td>{{ profitLocal }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
