{% extends ':Default:layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div id="strategy">

        <p>{{ form.vars.value.id ? 'Редактирование' : 'Создание новой' }}  торговой стратегии</p>

        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div>
            {{ form_label(form.symbol) }}
            {{ form_widget(form.symbol) }}
        </div>
        <div id="strategy-signals" data-prototype="{{ form_widget(form.signals.vars.prototype) | e }}">
            {% for formSignal in form.signals %}
                <div>
                    {{ form_widget(formSignal) }}
                    <div>
                        {% for signalIndicator in formSignal.indicatorValues %}
                            <div>
                                {{ form_widget(signalIndicator) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if form_errors(form) %}
            <div class="form-error">{{ form_errors(form) }}</div>
        {% endif %}

        {{ form_widget(form.addSignal) }}

        <hr/>

        <p>Параметры стратегии:</p>
        {{ form_row(form.openIfExist) }}
        {{ form_row(form.isPrivate) }}

        <div class="break-20"></div>

        <div>
            {{ form_widget(form.save) }}
        </div>

    </div>
    {{ form_end(form) }}

{% endblock content %}
