{% extends 'RottenwoodBarchartBundle:Default:layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div>
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div>
            {{ form_label(form.symbol) }}
            {{ form_widget(form.symbol) }}
        </div>
        <div>
            <div>Сигналы</div>
            {% for formSignal in form.signals %}
                <div>
                    {{ form_widget(formSignal) }}
                    <div>
                        <div>Индикаторы</div>
                        {% for signalIndicator in formSignal.indicators %}
                            <div>
                                {{ form_widget(signalIndicator) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    {{ form_end(form) }}

{% endblock content %}
