{% extends ':Default:layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-1 col-md-11 top-space">
            <p>Главная страница</p>

            <p><a href="{{ path('rottenwood_barchart_default_makestrategy') }}">Создание новой стратегии</a></p>

            {% if haveStrategies %}
                <p><a href="{{ path('rottenwood_barchart_default_strategieslist') }}">Список ваших стратегий</a></p>
                <p><a href="{{ path('rottenwood_barchart_account_createaccount') }}">Создание нового торгового
                        счета</a></p>
                {% if haveAccounts %}
                    <p><a href="{{ path('rottenwood_barchart_account_listaccounts') }}">Список торговых счетов</a></p>
                    <p><a href="{{ path('rottenwood_barchart_account_tradesaccounts') }}">Отчет по сделкам на всех
                            торговых счетах</a></p>
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock content %}
