{% extends ':Default:layout.html.twig' %}

{% set profit = 0 %}
{% set profitLocal = 0 %}

{% block javascript %}
    {# Скрипты для отрисовки графиков #}
    <script type="text/javascript" src="{{ asset('assets/js/chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/barchart.js') }}"></script>
{% endblock javascript %}

{% block title %}
    Тестирование стратегии #
    {% if strategyIsPrivate is defined %}
        {{ strategyIsPrivate }}
    {% else %}
        {{ strategy.id }}
    {% endif %}

{% endblock title %}

{% block content %}
    {% if strategyIsPrivate is defined %}
        <div>
            Доступ к стратегии <strong>#{{ strategyIsPrivate }}</strong> ограниен его владельцем.
        </div>
    {% else %}
        {% for trade in trades %}
            {% set profit = profit + trade.profit %}
        {% endfor %}

        {# График доходности стратегии #}
        <canvas id="chart-backtest" width="800" height="200"></canvas>

        <p>
            Тестирование стратегии "<strong>{{ strategy.name }}</strong>"
            (автор: {{ strategy.author.username }})
        </p>

        <p>Торговый инструмент: <strong>{{ strategy.russianSymbolName[strategy.symbol] }}</strong> ({{ strategy
            .symbolName[strategy.symbol] }})
        </p>
        <p>Видимость: {{ strategy.isPrivate ? 'только мне' : 'для всех' }}</p>
        <p>Дата начала тестирования: {{ firstPriceDate|date('Y-m-d H:i') }}</p>
        <p>Дата конца тестирования: {{ lastPriceDate|date('Y-m-d H:i') }}</p>
        <p>Открываются ли параллельные сделки: <strong>{{ strategy.openIfExist ? 'да' : 'нет' }}</strong></p>
        <p>Количество сделок: {{ trades|length }}</p>
        <p>Итоговая прибыль: <strong>{{ profit }}</strong>
            (<strong>{{ percentProfit > 0 ? '+' ~ percentProfit : percentProfit }}%</strong>)</p>

        <hr/>
        <p>Сигналы стратегии:</p>
        {% for signal in strategy.signals %}
            <div class="gray-box">
                <p>Направление: {{ signal.direction > 0 ? 'Покупка' : 'Продажа' }}</p>

                {% if signal.stopLoss %}
                    <p>Стоплосс: {{ signal.stopLoss }}$</p>
                {% endif %}

                {% if signal.stopLossPercent %}
                    <p>Стоплосс в процетах: {{ signal.stopLossPercent }}%</p>
                {% endif %}

                {% if signal.takeProfit %}
                    <p>Тейкпрофит: {{ signal.takeProfit }}$</p>
                {% endif %}

                {% if signal.takeProfitPercent %}
                    <p>Тейкпрофит в процетах: {{ signal.takeProfitPercent }}%</p>
                {% endif %}

                {% for indicatorValue in signal.indicatorValues %}
                    <p>
                        Индикатор <strong>"{{ indicatorValue.indicator.name }}"</strong>
                        с параметром <strong>{{ indicatorValue.value|direction_name }}</strong>
                    </p>
                {% endfor %}

            </div>
        {% endfor %}

        <hr/>

        <p>Сделки:</p>

        <table id="trades-list" class="center width-full">
            <thead>
            <tr>
                <td>#</td>
                <td>Направление</td>
                <td>Дата открытия</td>
                <td>Дата закрытия</td>
                <td>Длительность<br>
                    (час:мин)
                </td>
                <td>Цена открытия</td>
                <td>Цена закрытия</td>
                <td>Прибыль</td>
                <td>Общая прибыль</td>
            </tr>
            </thead>

            <tbody>
            {% set profitPercent = 0 %}

            {% for trade in trades %}
                {% set profitLocal = profitLocal + trade.profit %}
                <tr class="{{ trade.profit > 0 ? 'green' : 'red' }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ trade.direction > 0 ? 'Покупка' : 'Продажа' }}</td>
                    <td>{{ trade.openDate|date('d-m-Y H-i') }}</td>
                    {% if trade.closeDate %}
                        <td class="close-date" data-date="{{ trade.closeDate|date('d.m') }}">
                            {{ trade.closeDate|date('d-m-Y H-i') }}
                        </td>
                    {% else %}
                        <td>
                            <p class="center">не закрыта</p>
                        </td>
                    {% endif %}
                    <td>
                        {% if trade.closeDate %}
                            {{ dates_diff(trade.openDate, trade.closeDate)|date('%h:%I') }}
                        {% endif %}
                    </td>
                    <td>{{ trade.open }}</td>
                    <td>{{ trade.close }}</td>
                    <td>{{ trade.profit }}</td>
                    <td class="profit-local" data-profit="{{ profitLocal }}">{{ profitLocal }}
                        {% if trade.profit > 0 %}
                            {% set profitPercent = profitPercent + trade.profit / trade.open * 100 %}
                            ({{ profitPercent > 0 ? '+' : '-' }}<span>{{ profitPercent }}</span>%)
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content %}

{% block submenu %}
    <p><a href="{{ path('strategy.list') }}">Вернться к списку стратегий</a></p>
{% endblock submenu %}